<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hfs_path</key>
	<string>YOUR_HARD_DISK_NAME:Applications:OmniFocus.app</string>
	<key>password</key>
	<string>7657mpnh</string>
	<key>port</key>
	<integer>11872</integer>
	<key>posix_path</key>
	<string>/Applications/OmniFocus.app</string>
	<key>revision</key>
	<integer>92887</integer>
	<key>user</key>
	<string>dustin</string>
</dict>
</plist>
